<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/challenges">Challenges</a></li>
        <li><a href="/challenges/create">Create new challenge</a></li>
        <li><a href="/user/logout">Logout</a></li>
    </ul>
</nav>