<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
</head>
<body>
    <div class="page-not-found">
        <h1>Just like your bright future, this page does not exist.</h1>
    </div>
</body>
</html>