<!DOCTYPE html>
<html>
<head>
    <title>Create a new challenge</title>
</head>
<body>
    <%- include("partials/nav-loggedIn.ejs") %>
    <h1>Create a new challenge</h1>
    <div class="createChallenge">
        <form action="/challenges/create" method="POST">
            <label>Challenge Description</label>
            <br>
            <textarea name="challengeDescription" id="challengeDescription" required></textarea>
            <br>
            <button>Create Challenge</button>
        </form>
    </div>
    <%- include("partials/footer.ejs") %>
</body>
</html>